body {
   
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #490202;
}

header {
    
    background-color: rgb(75, 1, 1);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em 0;
}

h1, h2 {
     
    color: rgb(0, 0, 0);
}

main {
   
    padding: 20px;
}

.car-info {
    
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.car-info:hover {
    
    transform: scale(1.05);
}

footer {
   
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    .car-info {
        margin-bottom: 10px;
    }
}
